
{% extends "noise_detection/layout_2.html" %}
{% block title %}
Analysis Results History
{% endblock %}

{% block heading %}
	About the System
{% endblock %}

{% block content %}

<main id="general_page">
	<div class="container_styled_1">
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-6">
					<h2 class="nomargin_top">SYSTEM JUSTIFICATION</h2>
					<p class="lead">The need for a comprehensive noise detection system in Lagos State?</p>
					<p>
						<strong>Noise Pollution</strong> poses significant risks to public health, including cardiovascular disorders, hypertension, and sleep disturbances. It also leads to fatigue, decreased productivity, and impaired cognitive abilities. Moreover, it negatively affects mental health, contributing to stress, anxiety, and irritability. The economic implications of noise pollution are also important as it decreases property values and hampers business operations, discouraging potential investors.
					</p>
					<p>
						<strong>Lagos State</strong> in Nigeria urgently needs a noise detection system to tackle the problem of noise pollution caused by rapid urbanization and population growth. The constant noise from traffic, horns, markets, generators, and loudspeakers has a severe impact on residents' health, well-being, and quality of life.
					</p>
					<p>
						A reliable noise detection system with real-time monitoring and data analytics can help the government and relevant authorities take necessary measures to reduce noise levels and create a better environment for businesses, residents, and visitors. Additionally, a noise detection system would assist law enforcement agencies in enforcing noise regulations by identifying violators promptly, promoting accountability and encouraging compliance.
					</p>
				</div>
				<div class="col-lg-5 ml-lg-5 add_top_30">
					{% load static %}
					<img src="{% static 'noise_detection/img/devices_2.png' %}" alt="" class="img-fluid">
				</div>
			</div>
			<!-- End row -->
		</div>
	</div>
	<div class="container margin_60">
		<div class="main_title">
			<h2><em></em>How it Works</h2>
		</div>
		<div style="text-align: justify; width: 800px; margin: auto;">
			<p>
				<strong>1. Start Recording.</strong> Use the <strong>Start Recording</strong> button to start a new recording. For quality assurance, the video should be at least 30secs and not more than 1min:30secs, to give a quality result. Also, the video should be taken at close proximity to where the sound is originating from or at a point of interest relative to the place the sound is originating from.
			</p>
			<p>
				<strong>2. Stop Recording and Analyse.</strong> When done recording, Click the "Stop Recording and Analyse" button to save the recording to your local device and analyse the audio. After the analysis is complete, the system will take you to result page showing the result of the analysis.
			</p>
		</div>
	</div>


	<!-- <div class="container margin_60">
		<div class="main_title">
			<h2><em></em>Meet the Team</h2>
			<p>
				Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel lorem legendos.
			</p>
		</div>	
		Team Carousel
		<div class="row">
			<div class="owl-carousel owl-theme team-carousel">
				<div class="team-item">
					<div class="team-item-img">
						{% load static %}
						<img src="{% static 'noise_detection/img/team/team-1.jpg' %}" alt="">
						<div class="team-item-detail">
							<div class="team-item-detail-inner">
								<h4>Mitchell Young</h4>
								<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
								<ul class="social">
									<li><a href="#0"><i class="icon-facebook"></i></a>
									</li>
									<li><a href="#0"><i class="icon-twitter"></i></a>
									</li>
									<li><a href="#0"><i class="icon-google"></i></a>
									</li>
									<li><a href="#0"><i class="icon-linkedin"></i></a>
									</li>
								</ul>
								<a href="#0" class="btn_1 white">View porfile</a>
							</div>
						</div>
					</div>
					<div class="team-item-info">
						<h4>Mitchell Young</h4>
						<p>CEO</p>
					</div>
				</div>
				/team-item
				<div class="team-item">
					<div class="team-item-img">
						{% load static %}
						<img src="{% static 'noise_detection/img/team/team-2.jpg' %}" alt="">
						<div class="team-item-detail">
							<div class="team-item-detail-inner">
								<h4>Ronald Green</h4>
								<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
								<ul class="social">
									<li><a href="#0"><i class="icon-facebook"></i></a>
									</li>
									<li><a href="#0"><i class="icon-twitter"></i></a>
									</li>
									<li><a href="#0"><i class="icon-google"></i></a>
									</li>
									<li><a href="#0"><i class="icon-linkedin"></i></a>
									</li>
								</ul>
								<a href="#0" class="btn_1 white">View porfile</a>
							</div>
						</div>
					</div>
					<div class="team-item-info">
						<h4>Ronald Green</h4>
						<p>Business Strategy</p>
					</div>
				</div>
				/team-item
				<div class="team-item">
					<div class="team-item-img">
						{% load static %}
						<img src="{% static 'noise_detection/img/team/team-3.jpg' %}" alt="">
						<div class="team-item-detail">
							<div class="team-item-detail-inner">
								<h4>Carl Peppard</h4>
								<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
								<ul class="social">
									<li><a href="#0"><i class="icon-facebook"></i></a>
									</li>
									<li><a href="#0"><i class="icon-twitter"></i></a>
									</li>
									<li><a href="#0"><i class="icon-google"></i></a>
									</li>
									<li><a href="#0"><i class="icon-linkedin"></i></a>
									</li>
								</ul>
								<a href="#0" class="btn_1 white">View porfile</a>
							</div>
						</div>
					</div>
					<div class="team-item-info">
						<h4>Carl Peppard</h4>
						<p>General Manager</p>
					</div>
				</div>
				/team-item
				<div class="team-item">
					<div class="team-item-img">
						{% load static %}
						<img src="{% static 'noise_detection/img/team/team-4.jpg' %}" alt="">
						<div class="team-item-detail">
							<div class="team-item-detail-inner">
								<h4>Sandra Bullock</h4>
								<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
								<ul class="social">
									<li><a href="#0"><i class="icon-facebook"></i></a>
									</li>
									<li><a href="#0"><i class="icon-twitter"></i></a>
									</li>
									<li><a href="#0"><i class="icon-google"></i></a>
									</li>
									<li><a href="#0"><i class="icon-linkedin"></i></a>
									</li>
								</ul>
								<a href="#0" class="btn_1 white">View porfile</a>
							</div>
						</div>
					</div>
					<div class="team-item-info">
						<h4>Sandra Bullock</h4>
						<p>Customer Support</p>
					</div>
				</div>
				/team-item
			</div>
		</div>
		End Team Carousel
	</div>
	End container -->
</main>

{% endblock %}

{% block endtag %}
<script>
    "use strict";
    $(".team-carousel").owlCarousel({
        items: 1,
        loop: false,
        margin: 10,
        autoplay: false,
        smartSpeed: 300,
        responsiveClass: false,
        responsive: {
            320: {
                items: 1,
            },
            768: {
                items: 2,
            },
            1000: {
                items: 3,
            }
        }
    });
</script>
{% endblock %}